<div class="container p-5">

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>

  <div class="row justify-content-center">
    <%= link_to 'Back to Lists', lists_path, class: "btn btn-ghost m-3" %>
  </div>

</div>